<!-- banner -->
<section class="banner_inner_abt" id="home">
	<div class="banner_inner_overlay"></div>
</section>
<!-- //banner -->
<section class="about py-5">
  <div class="container py-lg-5 py-sm-4">
      <h2 class="heading text-capitalize text-center mt-lg-3"><u style="color: #047ffc">about us</u></h2>
      <div class="row pt-xl-9">
        <div class="col-mt-9 test-grid px-lg-9">
          <div class="testi-info text-center">
            <p class="text-li">We're a travel company that create tailor-made trips and safari that are as individual as a person we are creating for. 
              We are here to guide and inspire you, to help you push the boundaries of your comfort zone. We'll ensure your time away is a time of your life. </p>
          </div>
        </div>
      </div>
  </div>
</section>
<!-- tabs -->
<section class="choose" id="choose">
    <div class="overlay-all py-5">
      <div class="container py-lg-5 py-sm-4">
        <h2 class="heading text-capitalize text-center mb-lg-5 mb-4"><u style="color: #047ffc">Why Choose Us</u></h2>
        <div class="edu-exp-grids">
          <div class="tab-main">
            <input id="tab1" type="radio" name="tabs" class="w3pvt-sm" checked>
            <label for="tab1">We Offer</label>
            <input id="tab2" type="radio" class="w3pvt-sm" name="tabs">
            <label for="tab2">We provide</label>
            <section id="content1">
              <div class="row text-center">
                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                  <div class="inner-sec-grid">
                    <span class="fa fa-gift"></span>
                    <h4 class="mt-md-4 mt-2">Trips</h4>
                    <p class="mt-3">We curate tailor-made, truly individual travel experiences for our clients</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                  <div class="inner-sec-grid">
                    <span class="fa fa-hotel"></span>
                    <h4 class="mt-md-4 mt-2">Accomodation</h4>
                    <p class="mt-3">We can arrange transport and accomodation base on customer priorities</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                  <div class="inner-sec-grid">
                    <span class="fa fa-gift"></span>
                    <h4 class="mt-md-4 mt-2">Affordable Prices</h4>
                    <p class="mt-3">We can arrange a Safari tour based on your budget.</p>
                  </div>
                </div>
              </div>
            </section>
            <section id="content2">
              <div class="row text-center">
                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                  <div class="inner-sec-grid">
                    <span class="fa fa-users"></span>
                    <h4 class="mt-md-4 mt-2">Less Crowd</h4>
                    <p class="mt-3">We provide personalized trips which meet customers' expectations.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 inner-w3pvt-wrap">
                  <div class="inner-sec-grid">
                    <span class="fa fa-gift"></span>
                    <h4 class="mt-md-4 mt-2">Exp Agents</h4>
                    <!-- throughout your travel thus creating everlasting memories -->
                    <p class="mt-3">Our tour guides are passionate about helping you find authentic experiences in our most famous sites</p>
                  </div>
                </div>
                <div class="col-lg-4 inner-w3pvt-wrap">
                  <div class="inner-sec-grid">
                    <span class="fa fa-gift"></span>
                    <h4 class="mt-md-4 mt-2">Easy Trip</h4>
                    <p class="mt-3"> A trip with Laitayo ensures you will see a route less travelled, but more enriching and enlightening</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- tabs -->