@import '../app.component.css';
.banner_inner_zanz {
    background: url(../../assets/lait_img/zanzibar.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	min-height: 300px;
}