<!-- banner -->
<section class="banner_inner_zanz" id="home">
	<div class="banner_inner_overlay">
	</div>
</section>
<!-- //banner -->

<!-- Zanzibar - Island-->
<section class="about py-5">
	<div class="container py-lg-5 py-sm-4">
		<div class="row">
			<div class="col-lg-6 about-left">
				<h3 class="mt-lg-3">Zanzibar - Island</h3>
				<p class="mt-4">Zanzibar is the semi-autonomous part of Tanzania in East Africa. It is composed of the Zanzibar Archipelago in the Indian Ocean, 25–50 kilometres (16–31 mi) off the coast of the mainland, and consists of many small islands and two large ones: Unguja (the main island, referred to informally as Zanzibar) and Pemba. The capital is Zanzibar City, located on the island of Unguja. Its historic centre is Stone Town, which is a World Heritage Site.</p>
				<p class="mt-3">Zanzibar’s coastline offers some of the best beaches in the world, but sand and surf vary depending on what side of the island you’re on. On the east coast, waves break over coral reefs and sand bars offshore, and low tide reveals small pools of starfish, small minnows, and anemones. Up north, ocean swimming is much less susceptible to the tides, and smooth beaches and white sand make for dazzling days in the sun.</p>
			</div>
			<div class="col-lg-6 about-right">
				<img src="../../assets/lait_img/stonetown.jpg" alt="" class="img-fluid abt-image" />
      </div>

      <!-- Olduvai Gorge Museum -->
      <div class="col-lg-6 about-left">
          <h3 class="mt-lg-3">Stone Town</h3>
          <p class="mt-4">The port city of Stone Town dominates the west coast, and although the beaches of Mangapwani, where slave caves are visible at low tide and nearby Bububu are less than half an hour’s drive away, a night or two spent on the east or north cost is well worth the extra hour it takes to drive there. That said, the Chole Island Marine Park just off Stone Town – and nearby Prison, Grave, and Snake Islands – make a refreshing day-trip and a good break from exploring the winding passageways of the old city.</p>
          <!-- <p class="mt-3"> Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum 
          urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.</p>
        </div> -->
		</div>
	
	</div>
<!-- </section> -->
