<!-- banner -->
<section class="banner_inner_kili" id="home">
    <div class="banner_inner_overlay">
    </div>
  </section>
  <!-- //banner -->
  
  <!-- Mount Kilimanjaro national park -->
  <section class="about py-5">
    <div class="container py-lg-5 py-sm-4">
      <div class="row">
        <div class="col-lg-6 about-left">
          <h3 class="mt-lg-3">Kilimanjaro National Park</h3>
          <blockquote>
              <p class="mt-4 blockquote text-justify">At 5,895 m, Kilimanjaro is the highest point in Africa. 
                  This volcanic massif stands in splendid isolation above the surrounding plains, with its snowy peak looming over the savannah. 
                  The mountain is encircled by mountain forest. Numerous mammals, many of them endangered species, live in the park</p>
                  <footer class="blockquote-footer"><a href="https://whc.unesco.org/en/list/403/">Unesco world heritage list</a></footer>
          </blockquote>
        </div>
        <div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
          <img src="../../assets/lait_img/mt_kilimanjaro4.jpg" alt="Mount Kilimanjaro" class="img-fluid abt-image" />
        </div>
      </div>
    </div>
  <!-- </section> -->
  
  <!-- places -->
  <section class="trav-grids py-5" id="desti">
    <div class="container py-xl-5 py-lg-3">
      <h3 class="heading text-capitalize text-center mb-lg-5 mb-4">Route Description</h3>
      <div class="row">
        <div class="col-md-6 about-left">
          <h4 class="mt-4">Mt. Kilimanjaro Routes Description</h4>
          <p class="mt-4 text-justify">The ascent of Kilimanjaro can be done from six routes: Mweka, Umbwe, Shira, Rongai, Machame, and the Marangu Route which is the easier one. Depending on which route one wants to take, the climb of Kilimanjaro can take between four to six nights on the mountain.</p>
          <p class="mt-4 text-justify">The two most popular routes are Marangu and Machame. On the Marangu Route, accommodation is in alpine huts while on Machame Route it is camping throughout. </p>
          <p class="mt-4 text-justify">While expert guides and porters will accompany you on your climb, no technical equipment is required on these routes.</p>
        </div>
        <div class="col-md-6 about-right">
          <img src="../../assets/lait_img/mt_kilimanjaro.jpg" alt="" class="img-fluid">
        </div>
        
        <!-- routes descriptions  -->
        <div class="col-md-6">
          <h4 class="mt-4">Marangu Route</h4>
          <p class="mt-4 text-justify">The Marangu or main route is by far the most popular way to the summit. The ascent is more gradual and no professional equipment is required. The accommodation on the way up and down is provided in mountain huts with all the basic necessities. There are 60 bunk beds each (for 60 people each) at Mandara Hut (2700m) and Kibo Hut (4700m), and 120 bunk beds (for 120 people) at Horombo Hut (3720m) which is also used for descent. Climbers are supplied with mattresses and pillows, but sleeping bags should be brought along. There are communal dining halls, washrooms and toilets.</p>
          <p class="mt-4 text-justify">It usually takes 5 days/4nights for the round trip. The trek can also be taken in 6 days/5 nights to add acclimatization with an extra day at Horombo Hut. The supplementary cost for an extra day is indicated separately as an option.</p>
        </div>

        <div class="col-md-6  ">
          <h4 class="mt-4">Machame Route</h4>
          <p class="mt-4 text-justify">This is probably the most scenic route up Kilimanjaro. The accommodation on the way up and down is strictly camping (mobile tents) only.  This trek is strenuous and may be better suited to more adventurous hikers. The Machame route is normally completed in a minimum of 6 days/5nights on the mountain.</p>
        </div>

        <div class="col-md-6 ">
          <h4 class="mt-4">Rongai Route</h4>
          <p class="mt-4 text-justify">There is only one route over on the north eastern side of the mountain, Rongai, which is usually a five night climb. This lesser known track may not be quite as spectacular as the western routes, but it does usually have far lower traffic than the other five night routes. This route retains a sense of unspoilt wilderness and offers a different perspective on Kilimanjaro by approaching it from the north.It is generally considered to be the easiest of the quality routes on the mountain. Rongai is the best route for people who are looking for a decent quality experience and are perhaps not absolutely confident about their fitness.</p>
        </div>

      <div class="col-md-6">
        <h4 class="mt-4">Shira Route</h4>
        <p class="mt-4 text-justify">The Lemosho Glades route is perhaps the least used initial ascent route on Kilimanjaro, partly because of its remote location and likewise the difficult roads leading to the trailhead. The road to the trailhead is only accessible by 4-wheel drive vehicles and can be impassable during wet periods. The trailhead is at relatively high elevation, and thus we start slow and easy on this route. Buffalo and elephant sightings are possible on the first day trekking through the forest, and the trail is often overgrown from lack of use.</p>
        <p class="mt-3 text-justify">The route is the longest distance to trek up Kilimanjaro, so fitness certainly plays a role in the enjoyment and success of this trek. The Lemosho (Shira) route takes 7 days / 6 nights on the mountain. Overall, the distance covered and the intensity of the final few days make this trek a good choice only for the experienced hiker.  The many changes of scenery and spectacular hike across the Shira Plateau make this trek truly special. There are no huts on this route, the accommodation is in mountain tents.</p>
      </div>

      <div class="col-md-6 ">
        <h4 class="mt-4 ">Umbwe Route</h4>
        <p class="mt-4 text-justify">The Umbwe route, which is based in the south, is a 6-day / 5-night tour and is said to be the most scenic and difficult one offered on Kilimanjaro. The first two days are extremely steep, muddy and generally strenuous making it only suitable for well-trained mountaineers. An acclimatization day is rarely offered on the standard programme, but can be added whereby giving the climber an extra day in the Karanga Valley. The descent trail is the same as the Mweka Route.</p>
      </div>

      <!-- <div class="col-md-6 about-right">
        <h4 class="mt-4">Mweka Route</h4>
        <p class="mt-4">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors. At the museum, one can also plan a guided tour down the gorge.</p>
      </div> -->
    </div>
  
  </div>
