<!-- banner -->
<section class="banner_inner" id="home">
    <div class="banner_inner_overlay">
    </div>
  </section>
  <!-- //banner -->
  
  <!-- Mount Kilimanjaro -->
  <section class="about py-5">
    <div class="container py-lg-5 py-sm-4">
      <div class="row">
        <div class="col-lg-6 about-left">
          <h3 class="mt-lg-3">Mount Kilimanjaro</h3>
          <p class="mt-4">Duis nisi sapien, elementum finibus fermentum eget, aliquet leo et. Mauris hendrerit vel ex.
          Quisque vitae luctus massa. Phasellus sed aliquam leo. Vestibulum ullamcorper a massa eu fringilla. Integer ultrices finibus sed nisi.
          in convallis felis dapibus sit amet.</p>
          <p class="mt-3"> Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum 
          urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.</p>
        </div>
        <div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
          <img src="../../assets/lait_img/mt_kilimanjaro4.jpg" alt="Mount Kilimanjaro" class="img-fluid abt-image" />
        </div>
  
        <!-- Olduvai Gorge Museum -->
        <div class="col-lg-6 about-left">
            <h3 class="mt-lg-3">Olduvai Gorge Museum</h3>
            <p class="mt-4">Olduvai Gorge museum is a fascinating journey back in time to the very beginning of mankind.
               Realistic copies of the most important discoveries can be viewed with ease and after an interesting lecture on the work which has been carried out by scientists,
               guided tours of the sites can be taken with experienced Laitayo guides.</p>
            <!-- <p class="mt-3"> Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum 
            urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.</p>
          </div> -->
      </div>
    
    </div>
  <!-- </section> -->
  
  <!-- places -->
  <section class="trav-grids py-5" id="desti">
    <div class="container py-xl-5 py-lg-3">
      <h3 class="heading text-capitalize text-center mb-lg-5 mb-4">Route Description</h3>
      <div class="row">
        <div class="col-lg-6 mt-4">
          <div class="grids-tem-one">
            <div class="row">
              <div class="col-sm-5 grids-img-left">
                <img src="../../assets/lait_img/ngoro.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-sm-7 right-cont">
                <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Ngorongoro Crater</h4>
                
                <p class="mt-4">Ngorongoro is also referred to as being the<strong>‘Garden of Eden’</strong> or <strong>‘Ark of Noah’</strong>.</p><br>
                <p class="mt-4">The crater provides the home for the big five, wild beasts, zebras and an uncountable number of gazelles and thousands of flamingos.</p>
                <!-- <p class="duration mt-2"><span class="fa fa-clock-o mr-2"></span><strong>Duration</strong> : 2 Days, 3hrs</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <div class="grids-tem-one">
            <div class="row">
              <div class="col-sm-5 grids-img-left">
                <img src="../../assets/lait_img/oldipai.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-sm-7 right-cont">
                <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Olduvai Gorge Museum</h4>
                <p class="mt-4" style="">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
                   At the museum, one can also plan a guided tour down the gorge.
                </p>
                <!-- <p class="duration mt-2"><span class="fa fa-clock-o mr-2"></span><strong>Duration</strong> : 2 Days, 3hrs</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
