<!-- banner -->
<section class="banner_inner_kili" id="home">
    <div class="banner_inner_overlay">
    </div>
  </section>
  <!-- //banner -->
  
  <!-- Mount Kilimanjaro national park -->
  <section class="about py-5">
    <div class="container py-lg-5 py-sm-4">
      <div class="row">
        <div class="col-lg-6 about-left">
          <h3 class="mt-lg-3">Kilimanjaro National Park</h3>
          <blockquote>
              <p class="mt-4 blockquote">At 5,895 m, Kilimanjaro is the highest point in Africa. 
                  This volcanic massif stands in splendid isolation above the surrounding plains, with its snowy peak looming over the savannah. 
                  The mountain is encircled by mountain forest. Numerous mammals, many of them endangered species, live in the park</p>
                  <footer class="blockquote-footer"><a href="https://whc.unesco.org/en/list/403/">unesco world heritage list</a></footer>
          </blockquote>
        </div>
        <div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
          <img src="../../assets/lait_img/mt_kilimanjaro4.jpg" alt="Mount Kilimanjaro" class="img-fluid abt-image" />
        </div>
      </div>
    </div>
  <!-- </section> -->
  
  <!-- places -->
  <section class="trav-grids py-5" id="desti">
    <div class="container py-xl-5 py-lg-3">
      <h3 class="heading text-capitalize text-center mb-lg-5 mb-4">Route Description</h3>
      <div class="row">
        <div class="col-lg-6 mt-4">
          <div class="grids-tem-one">
            <div class="row">
              <div class="col-sm-5 grids-img-left">
                <img src="../../assets/lait_img/mt_kilimanjaro.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-sm-7 ">
                <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Mt. Kilimanjaro Routes Description</h4>
                <p class="mt-4">The ascent of Kilimanjaro can be done from six routes: Mweka, Umbwe, Shira, Rongai, Machame, and the Marangu Route which is the easier one. Depending on which route one wants to take, the climb of Kilimanjaro can take between four to six nights on the mountain.</p><br>
                <p class="mt-4">The two most popular routes are Marangu and Machame. On the Marangu Route, accommodation is in alpine huts while on Machame Route it is camping throughout. </p>
                <p class="mt-4">While expert guides and porters will accompany you on your climb, no technical equipment is required on these routes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <div class="grids-tem-one">
            <div class="row">
              <!-- <div class="col-sm-5 grids-img-left">
                <img src="../../assets/lait_img/oldipai.jpg" alt="" class="img-fluid">
              </div> -->
              <div class="col-sm-">
                <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Marangu Route</h4>
                <p class="mt-4">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
                   At the museum, one can also plan a guided tour down the gorge.
                </p>
              </div>

              <div class="col-sm-9 right-cont">
                  <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Machame Route</h4>
                  <p class="mt-4">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
                     At the museum, one can also plan a guided tour down the gorge.
                  </p>
              </div>

              <div class="col-sm-9 right-cont">
                  <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Rongai Route</h4>
                  <p class="mt-4">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
                     At the museum, one can also plan a guided tour down the gorge.
                  </p>
                </div>

                <div class="col-sm-9 right-cont">
                    <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Shira Route</h4>
                    <p class="mt-4">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
                       At the museum, one can also plan a guided tour down the gorge.
                    </p>
                  </div>

                  <div class="col-sm-9 right-cont">
                      <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Umbwe Route</h4>
                      <p class="mt-4">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
                         At the museum, one can also plan a guided tour down the gorge.
                      </p>
                    </div>

                    <div class="col-sm-9 right-cont">
                        <h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Mweka Route</h4>
                        <p class="mt-4">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
                           At the museum, one can also plan a guided tour down the gorge.
                        </p>
                      </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
