<!-- banner -->
<section class="banner_inner_acco" id="home">
	<div class="banner_inner_overlay"></div>
</section>
<!-- //banner -->

<section class="trav-grids py-5">
  <div class="container py-xl-5 py-lg-3">
    <div class="row">
      <div class="card-deck">
          <div class="card" >
              <img class="card-img-top acc-card" src="../../assets/lait_img/hotels/Kibo-Palace-1.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="mt-3">Kibo Palace Hotel</h4>
                <p class="card-text mt-4 text-justify">Situated less than a kilometre from Arusha city centre and about 45 minutes drive from Kilimanjaro International Airport,
                   Kibo Palace is an ideal base for both business travelers and visitors on holiday.</p>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#kiboPalaceModal" ><small>Read more</small></button>
                  <!-- kibo palace hotel modal -->
                  <div class="modal fade bd-example-modal-lg" id="kiboPalaceModal" tabindex="-1" role="dialog" aria-labelledby="kiboPalaceModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centerd" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Kibo Palace Hotel</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <!-- hotel carousel -->
                          <div id="kiboPalaceCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#kiboPalaceCarousel"  data-slide-to="0" class="active" ></li>
                              <li data-target="#kiboPalaceCarousel"   data-slide-to="1" ></li>
                              <li data-target="#kiboPalaceCarousel"  data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="../../assets/lait_img/hotels/kph-1.jpg" alt="" class="d-block w-100">
                              </div>

                              <div class="carousel-item">
                                <img src="../../assets/lait_img/hotels/kibo-palace-hotel-resturant-staff.jpg" alt="" class="d-block w-100">
                              </div>

                              <div class="carousel-item">
                                <img src="../../assets/lait_img/hotels/kph-bed11.jpg" alt="" class="d-block w-100">
                              </div>
                            </div>

                            <a class="carousel-control-prev" href="#kiboPalaceCarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#kiboPalaceCarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                          <!-- end of kibo carousel  -->
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                  </div>
               </div>
            </div>
          </div>
        
            <div class="card">
              <img class="card-img-top acc-card" src="../../assets/lait_img/hotels/sopalodge.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class=" card-text mt-3"><strong>Tarangire Sopa Lodge</strong></h4>
                <p class=" card-text mt-4 text-justify">Built to blend in with the vastness of its surroundings, Tarangire Sopa Lodge lies hidden among the kopjes, ancient baobab and grasses of the Tarangire National Park - home to the greatest concentration of elephants in Africa. Many can be seen around the lodge, allowing visitors a close encounter.</p>
                
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sopaLodgeModal" ><small>Read more</small></button>
                  <!-- Tarangire Sopa Lodge modal -->
                  <div class="modal fade bd-example-modal-lg" id="sopaLodgeModal" tabindex="-1" role="dialog" aria-labelledby="sopaLodgeModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centerd" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Tarangire Sopa Lodge</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <!-- hotel carousel -->
                          <div id="sopaLodgeCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#sopaLodgeCarousel"  data-slide-to="0" class="active" ></li>
                              <li data-target="#sopaLodgeCarousel"   data-slide-to="1" ></li>
                              <li data-target="#sopaLodgeCarousel"  data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="../../assets/lait_img/hotels/barsopa.jpg" alt="" class="d-block w-100">
                              </div>

                              <div class="carousel-item">
                                <img src="../../assets/lait_img/hotels/sopapool.jpg" alt="" class="d-block w-100">
                              </div>

                              <div class="carousel-item">
                                <img src="../../assets/lait_img/hotels/balconysopa.jpg" alt="" class="d-block w-100">
                              </div>
                            </div>

                            <a class="carousel-control-prev" href="#sopaLodgeCarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#sopaLodgeCarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                          <!-- end of sopa lodge carousel  -->
                          <h4 class="mt-3"><strong>Location</strong></h4>
                          <p class="mt-4 text-justify">Tarangire National Park. 129 Km from Arusha. 2.5 hr drive from Arusha. 20 minute flight from Arusha Airport to Kuro airstrip. 1 hr transfer from the airstrip to the Lodge.</p>
                          <h4 class="mt-3"><strong>Accomodation</strong></h4>
                          <p class="mt-4 text-justify">75 rooms. Includes 4 inter-connecting rooms & 2 wheelchair accessible rooms. Bar, lounge, restaurant, TV room, out-door dining, swimming pool, gift shop. WiFi in public areas.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                  </div>
               </div>
              </div>
            </div>
        
            <div class="card">
              <img class="card-img-top acc-card" src="../../assets/lait_img/hotels/Serengeti-Simba-Lodge-7.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="mt-4">Serengeti Simba Lodge</h5>
                <p class="card-text text-justify">The ‘Serengeti Migration’ passes the lodge twice a year, around June-July and again in October when millions of ungulates make their annual trek through the Serengeti eco-system. With awe-inspiring panoramic views of the vast savannah, Serengeti Simba Lodge is home to prolific birdlife and a stunning array of large game including: lion, buffalo, cheetah, leopard, giraffe, elephant, bush buck, zebra, gazelle and hartebeest.</p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#beyondLodgeModal" ><small>Read more</small></button>
                  <!-- &Beyond Ngorongoro Crater Lodge modal -->
                  <div class="modal fade bd-example-modal-lg" id="beyondLodgeModal" tabindex="-1" role="dialog" aria-labelledby="beyondLodgeModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centerd" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Serengeti Simba Lodge</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <!-- hotel carousel -->
                          <div id="beyondLodgeCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#beyondLodgeCarousel"  data-slide-to="0" class="active" ></li>
                              <li data-target="#beyondLodgeCarousel"   data-slide-to="1" ></li>
                              <li data-target="#beyondLodgeCarousel"  data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="../../assets/lait_img/hotels/seresimba-outdoor.jpg" alt="" class="d-block w-100">
                              </div>

                              <div class="carousel-item">
                                <img src="../../assets/lait_img/hotels/Serengeti-Simba-Lodge-4.jpg" alt="" class="d-block w-100">
                              </div>

                              <div class="carousel-item">
                                <img src="../../assets/lait_img/hotels/Serengeti-Simba-Lodge-7.jpg" alt="" class="d-block w-100">
                              </div>
                            </div>

                            <a class="carousel-control-prev" href="#beyondLodgeCarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#beyondLodgeCarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                          <!-- end of sopa lodge carousel  -->
                          <h4 class="mt-3"><strong>Location</strong></h4>
                          <p class="mt-4 text-justify">Tarangire National Park. 129 Km from Arusha. 2.5 hr drive from Arusha. 20 minute flight from Arusha Airport to Kuro airstrip. 1 hr transfer from the airstrip to the Lodge.</p>
                          <h4 class="mt-3"><strong>Accomodation</strong></h4>
                          <h4 class="mt-4"><small><b>Stone House</b></small></h4>
                          <p class="mt-4 text-justify">Serengeti Simba Lodge’s six-room Stone House features two twin, two queen and two family rooms– each with two queen beds. The family rooms are large enough to add an additional twin bed for a child. Amazing views across the Serengeti savannah to the distant Grumeti River add to the ambiance of the rooms. You can sit and watch the wildlife drift across the Serengeti plains from the private comfort of your room in the Stone House.</p>
                          <h4 class="mt-4"><small><b>Tents</b></small></h4>
                          <p class="mt-4 text-justify">Our fifteen uniquely designed “tents” are in fact a hybrid, with all the romance of a tent but the security of a more permanent structure; using canvas in the construction, but built on solid stone foundations with thatch roofs, attached concrete baths and outdoor showers plus a private deck from which to enjoy the endless views of the Serengeti. There are five twin and ten queen tents; triples are possible.</p>  

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                  </div>
               </div>
              </div>
            </div>
      </div> 
      <div class="card-deck cards-custom">
        <div class="card ">
          <img class="card-img-top acc-card" src="../../assets/lait_img/hotels/Lake-Ndutu-outdoor.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="mt-3"><strong>Lake Ndutu Luxury Tented Lodge</strong></h4>
              <p class="card-text text-justify">Ndutu is the only place in the Serengeti ecosystem where migratory animals – wildebeest and zebras – roam for more than 5 months, attracting a high concentration and variety of predators.</p>
              <p class="card-text text-justify"> It is the main holding ground, with the short grass plains in Ndutu and southeastern Serengeti providing the necessary calving grounds for zebras and wildebeest, which usually give birth to thousands of calves and foals between January and March.</p>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#lakeNdutuLodgeModal" ><small>Read more</small></button>
              <!-- Lake Ndutu Luxury Tented Lodge modal -->
              <div class="modal fade bd-example-modal-lg" id="lakeNdutuLodgeModal" tabindex="-1" role="dialog" aria-labelledby="lakeNdutuLodgeModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centerd" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Lake Ndutu Luxury Tented Lodge</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- hotel carousel -->
                      <div id="lakeNdutuLodgeCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#lakeNdutuLodgeCarousel"  data-slide-to="0" class="active" ></li>
                          <li data-target="#lakeNdutuLodgeCarousel"   data-slide-to="1" ></li>
                          <li data-target="#lakeNdutuLodgeCarousel"  data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="../../assets/lait_img/hotels/Lake-Duluti-6.jpg" alt="" class="d-block w-100">
                          </div>

                          <div class="carousel-item">
                            <img src="../../assets/lait_img/hotels/Lake-Ndutu-bed.jpg" alt="" class="d-block w-100">
                          </div>

                          <div class="carousel-item">
                            <img src="../../assets/lait_img/hotels/Lake-Ndutu1.jpg" alt="" class="d-block w-100">
                          </div>
                        </div>

                        <a class="carousel-control-prev" href="#lakeNdutuLodgeCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#lakeNdutuLodgeCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                      <!-- end of sopa lodge carousel  -->
                      <h4 class="mt-3"><strong>Location</strong></h4>
                      <p class="mt-4 text-justify"> Lake Ndutu Luxury Tented Lodge is located within the Ngorongoro Conservation Area, in the southeastern plains of the Serengeti ecosystem, some 5 kilometres or 15 minutes drive from Ndutu airstrip, and about 300 kilometres or 5 hours drive / 1 hour flight from Arusha town.</p>
                      <h4 class="mt-3"><strong>Accomodation</strong></h4>
                      <p class="mt-4 text-justify">Lake Ndutu Luxury Tented Lodge is made up of 20 accommodation tents including 2 family suites of 3 interconnected tents each, all resting on stilts and platforms elevated a metre from the natural ground.
                         The luxurious tented rooms, all with wooden floor and nestling under makuti roofing for shade and protection against the elements, feature a large bedroom with floor-to-ceiling glass panels at the front affording guests a wide view from inside across the verandah to the natural surrounding bush.</p>
                      <h4 class="mt-3"><strong>Facilities & Services</strong></h4>
                      <p class="mt-4 text-justify"> Both the dining area and the lounge stand on raised platforms with wooden floors and makuti roofing, and feature a large outdoor terrace. The lodge chef will pleasantly surprise you with a wide selection of freshly cooked food, including local and international dishes.</p>
                      <p class="mt-4 text-justify">There is a swimming pool which provides the much needed luxury for those who want to cool off after an early morning walking safari / game drive or before taking a late afternoon game drive.
                         From the swimming pool, a few steps from the lounge and elevated about 2.2 metres above ground level, one has a sweeping view of Lake Ndutu and the bush around – a wonderful fusion of luxury and the bush experience.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
              </div>
           </div>
            </div>
        </div>
        
        <div class="card">
          <img class="card-img-top acc-card" src="../../assets/lait_img/hotels/manyara_main_index.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="mt-3"><strong>Lake Manyara Wildlife Lodge</strong></h4>
            <p class="card-text text-justify mt-4">Lake Manyara, a small breathtaking National Park with an immense natural richness - home of over 380 bird species, including the thousands of flamingos that tint the soda waters of the Lake pink and the famous tree-climbing lions, which for reasons unknown sleep in the branches of acacia trees.</p>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#lakeManyaraLodgeModal" ><small>Read more</small></button>
                  <!-- Lake Manyara Wildlife Lodge modal -->
                  <div class="modal fade bd-example-modal-lg" id="lakeManyaraLodgeModal" tabindex="-1" role="dialog" aria-labelledby="lakeManyaraLodgeModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centerd" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Lake Manyara Wildlife Lodge</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <!-- hotel carousel -->
                          <div id="lakeManyaraLodgeCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#lakeManyaraLodgeCarousel"  data-slide-to="0" class="active" ></li>
                              <li data-target="#lakeManyaraLodgeCarousel"   data-slide-to="1" ></li>
                              <li data-target="#lakeManyaraLodgeCarousel"  data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="../../assets/lait_img/hotels/manyara_accommodation_03.jpg" alt="" class="d-block w-100">
                              </div>

                              <div class="carousel-item">
                                <img src="../../assets/lait_img/hotels/manyara_dining.jpg" alt="" class="d-block w-100">
                              </div>

                              <div class="carousel-item">
                                <img src="../../assets/lait_img/hotels/manyara_accommodation_01.jpg" alt="" class="d-block w-100">
                              </div>
                            </div>

                            <a class="carousel-control-prev" href="#lakeManyaraLodgeCarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#lakeManyaraLodgeCarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                          <!-- end of sopa lodge carousel  -->
                          <h4 class="mt-3"><strong>The Lodge</strong></h4>
                          <p class="card-text text-justify mt-4">Lake Manyara Wildlife Lodge is strategically located on the very edge of the vertiginous western escarpment of the Rift Valley, affording magnificent views down across the whole Lake.</p>
                          <h4 class="mt-3"><strong>Location</strong></h4>
                          <p class="mt-4 text-justify">Situated in northern Tanzania, the entrance gate lies 1.5 hours (126km) west of Arusha along a newly surfaced road, close to the market town of Mto wa Mbu. The diverse terrain across Lake Manyara National Park - from groundwater forest to acacia woodland, to grassy foodplains and the alkaline Lake itself - means that the mammal and bird lists are most impressive.</p>
                          <h4 class="mt-3"><strong>Accomodation</strong></h4>
                          <p class="mt-4 text-justify">Lake Manyara Wildlife Lodge has 100 spacious guestrooms, each of them with a private verandah boasting a panoramic view of the National Park and the flamingo-coloured Lake below.</p>
                          <p class="mt-4 text-justify">Tastefully finished and decorated in authentic African style, the spacious rooms and suites are all ensuite and have mosquito netting over the air vents.Among the 100 rooms are suites, communicating rooms (specially designed for families) and deluxe rooms. There is a mix of both twin rooms and double rooms (with one double bed).</p>  
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                  </div>
               </div>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top acc-card" src="../../assets/lait_img/african_elephant.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        
            <!-- <div class="card py-4" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div> -->
      </div>
    </div>
  </div>
  
<!-- </section> -->