<!-- banner -->
<section class="banner_inner" id="home">
	<div class="banner_inner_overlay">
	</div>
</section>
<!-- //banner -->

<!-- Serengeti National Park -->
<section class="about py-5">
	<div class="container py-lg-5 py-sm-4">
		<div class="row">
			<div class="col-lg-6 about-left">
				<h3 class="mt-lg-3">Serengeti National Park</h3>
				<p class="mt-4">This unforgettable tour will take you to the Serengeti Plains National Park, the heart of wild Africa and a massive wilderness of 14500 square km, where every day brings a new landscape and a new adventure.
           Your African safari will also take you to the Ngorongoro Crater, featuring one of the highest concentrations of game in Africa.
            Here you will witness an amazing spectacle of African wildlife – inside a self-contained world featuring an unbelievable concentration of animals.
             Lastly your trek will take you to the Lake Manyara National Park, one of Tanzania’s most dramatically located wildlife areas, consisting of a shallow but huge soda lake, at the foot of the Great Rift Valley’s western escarpment. 
             The size of this national park makes it perfect for a one-day game drive, and is famous for it’s unique tree-climbing lions.
        </p>
				<p class="mt-3"> Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum 
				urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.</p>
			</div>
			<div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
				<img src="../../assets/lait_img/balloon_chserengeti.jpg" alt="" class="img-fluid abt-image" />
      </div>

      <!-- Olduvai Gorge Museum -->
      <div class="col-lg-6 about-left">
          <h3 class="mt-lg-3">Olduvai Gorge Museum</h3>
          <p class="mt-4">Olduvai Gorge museum is a fascinating journey back in time to the very beginning of mankind.
             Realistic copies of the most important discoveries can be viewed with ease and after an interesting lecture on the work which has been carried out by scientists,
             guided tours of the sites can be taken with experienced Laitayo guides.</p>
          <!-- <p class="mt-3"> Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum 
          urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.</p>
        </div> -->
		</div>
		<div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
			<img src="../../assets/lait_img/chen-hu-515134-unsplash.jpg" alt="" class="img-fluid abt-image" />
		</div>
	</div>
<!-- </section> -->

<!-- tourism places -->
<section class="trav-grids py-5" id="desti">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="heading text-capitalize text-center mb-lg-5 mb-4">Tourism Places</h3>
		<div class="row">
			<!-- <div class="col-lg-6 mt-4">
				<div class="grids-tem-one">
					<div class="row">
						<div class="col-sm-5 grids-img-left">
							<img src="../../assets/lait_img/balllon_img.jpg" alt="" class="img-fluid">
						</div>
						<div class="col-sm-7 right-cont">
							<h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Air Balloon Safari</h4>
							
							<p class="mt-4">Ngorongoro is also referred to as being the<strong>‘Garden of Eden’</strong> or <strong>‘Ark of Noah’</strong>.</p><br>
							<p class="mt-4">The crater provides the home for the big five, wild beasts, zebras and an uncountable number of gazelles and thousands of flamingos.</p>
							<p class="duration mt-2"><span class="fa fa-clock-o mr-2"></span><strong>Duration</strong> : 2 Days, 3hrs</p> 
						</div>
					</div>
				</div>
			</div> -->

			<!-- card example for testing purposes -->
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top img-fluid" src="../../assets/lait_img/migratinganimal.jpg" alt="wildbeest migration" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wildbeest Migration</h4>
						<p class="card-text">Use .card-title to add card titles to any heading element. The .card-text class is used to remove bottom margins for a p element if it is the last child (or the only one) in card-body. The .card-link class adds a blue color to any link, and a hover effect.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top img-fluid" src="../../assets/lait_img/balllon_img.jpg" alt="hot air balloon" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Hot Air Balloon Safari</h4>
						<p class="card-text">The .card-text class is used to remove bottom margins for a p element if it is the last child (or the only one) in card-body. The .card-link class adds a blue color to any link, and a hover effect.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top img-fluid" src="../../assets/lait_img/liongrassland.jpg" alt="wildlife safari" style="width:100%">
					<div class="card-body">
						<h4 class="card-title">Wildlife Safari</h4>
						<p class="card-text">Use .card-title to add card titles to any heading element. The .card-text class is used to remove bottom margins for a p element if it is the last child (or the only one) in card-body. The .card-link class adds a blue color to any link, and a hover effect.</p>
					</div>
				</div>
			</div>
			<!-- <div class="col-lg-6 mt-4">
				<div class="grids-tem-one">
					<div class="row">
						<div class="col-sm-5 grids-img-left">
							<img src="../../assets/lait_img/migratinganimal.jpg" alt="" class="img-fluid">
						</div>
						<div class="col-sm-7 right-cont">
							<h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Wildbeest Migration</h4>
							<p class="mt-4" style="">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
								 At the museum, one can also plan a guided tour down the gorge.
							</p>
							<p class="duration mt-2"><span class="fa fa-clock-o mr-2"></span><strong>Duration</strong> : 2 Days, 3hrs</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-lg-3">
			<div class="col-lg-6 mt-4">
				<div class="grids-tem-one">
					<div class="row">
						<div class="col-sm-5 grids-img-left">
							<img src="../../assets/lait_img/zebra_balloon.jpg" alt="" class="img-fluid">
						</div>
						<div class="col-sm-7 right-cont">
							<h4 class="mb-2 let mt-sm-0 mt-2 tm-clr">Wildlife Safari</h4>
							<p class="mt-4">Visitors to the Ngorongoro Conservation Area can learn about the culture of the Maasai and take photographs or buy original Maasai handicraft at designated areas known as cultural bomas</p>
							<p class="duration mt-2"><span class="fa fa-clock-o mr-2"></span><strong>Duration</strong> : 2 Days, 3hrs</p> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt-4">
				<div class="grids-tem-one">
					<div class="row">
						<div class="col-sm-5 grids-img-left">
							<img src="../../assets/lait_img/bunch_boffalos.jpg" alt="" class="img-fluid">
						</div>
						<div class="col-sm-7 right-cont">
							<h4 class="mb-2 mt-sm-0 mt-2 let tm-clr">Wildlife Safari</h4>
							<p class="mt-4">There have been 115 species of mammal recorded in the Ngorongoro Conservation Area. </p>
							<p class="mt-4">The two main areas for game-viewing, apart from the crater, are the short-grass plains west of the Gol Mountains, northwest of Ngorongoro Crater, and the surroundings of Lake Ndutu close to the border with Serengeti National Park.</p>
							<p class="duration mt-2"><span class="fa fa-clock-o mr-2"></span><strong>Duration</strong> : 2 Days, 3hrs</p>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
	