<!-- banner -->
<section class=".banner_inner_sere" id="home">
	<div class="banner_inner_overlay">
	</div>
</section>
<!-- //banner -->

<!-- Serengeti National Park -->
<section class="about py-5">
	<div class="container py-lg-5 py-sm-4">
		<div class="row">
			<div class="col-lg-6 about-left">
				<h3 class="mt-lg-3">Serengeti National Park</h3>
				<p class="mt-4 text-justify">This unforgettable tour will take you to the Serengeti Plains National Park, the heart of wild Africa and a massive wilderness of 14500 square km, where every day brings a new landscape and a new adventure.</p>
				<p class="mt-4 text-justify">The Park can be divided into 3 sections. The popular southern/central part (Seronera Valley), is what the Maasai called the “serengit”, the land of endless plains. It’s classic savannah, dotted with acacias and filled with wildlife. The western corridor is marked by the Grumeti River, and has more forests and dense bush. The north, Lobo area, meets up with Kenya’s Masai Mara Reserve, is the least visited section.</p>
				<p class="mt-3 text-justify">The Serengeti ecosystem is one of the oldest on earth. The essential features of climate, vegetation and fauna have barely changed in the past million years. Early man himself made an appearance in Olduvai Gorge about two million years ago. Some patterns of life, death, adaptation and migration are as old as the hills themselves.</p>
			</div>
			<div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
				<img src="../../assets/lait_img/balloon_chserengeti.jpg" alt="" class="img-fluid abt-image" />
      </div>

      <!-- Olduvai Gorge Museum -->
      <div class="col-lg-6 about-left">
          <h3 class="mt-lg-3">Wildbeest Migration</h3>
          <p class="mt-4 text-justify">It is the migration for which Serengeti is perhaps most famous. Over a million wildebeest and about 200,000 zebras flow south from the northern hills to the southern plains for the short rains every October and November, and then swirl west and north after the long rains in April, May and June. So strong is the ancient instinct to move that no drought, gorge or crocodile infested river can hold them backs.</p>
		</div>
		<div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
			<img src="../../assets/lait_img/migratinganimal.jpg" alt="" class="img-fluid abt-image" />
		</div>
	</div>
<!-- </section> -->

<!-- tourism places -->
<section class="trav-grids py-5" id="desti">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="heading text-capitalize text-center mb-lg-5 mb-4">Tourism Places</h3>
		<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
			<div class="gallery">
				<figure class="figure gallery__item gallery__item--6">
					<img src="../../assets/lait_img/liongrassland.jpg" class="figure-img img-fluid gallery__img" alt="Cheeter at Serengeti ">
					<figcaption class="figure-caption text-center">Serengeti Lions</figcaption>
				</figure>
			
				<figure class="figure gallery__item gallery__item--5">
					<img src="../../assets/lait_img/zebra_balloon.jpg" class="figure-img img-fluid gallery__img " alt="Hot Air Balloon view from the ground">
					<figcaption class="figure-caption text-center">Hot Air Balloon view from the ground</figcaption>
				</figure>
			
				<figure class="figure gallery__item gallery__item--3">
					<img src="../../assets/lait_img/bunch_boffalos.jpg" class="figure-img img-fluid gallery__img " alt="wildlife safari">
					<figcaption class="figure-caption text-center">wildlife safari</figcaption>
				</figure>
			
				<figure class="figure gallery__item gallery__item--4">
					<img src="../../assets/lait_img/SerengetiBalloonSafaris-39.jpg" class="figure-img img-fluid gallery__img" alt="Serengeti Hot Air Balloon">
					<figcaption class="figure-caption text-center">Serengeti Hot Air Balloon </figcaption>
				</figure>

				<figure class="figure gallery__item gallery__item--2">
					<img src="../../assets/lait_img/migratinganimal.jpg" class="figure-img img-fluid gallery__img" alt="Wildbeest Migration">
					<figcaption class="figure-caption text-center">Wildbeest Migration</figcaption>
				</figure>

				<figure class="figure gallery__item gallery__item--1">
					<img src="../../assets/lait_img/chen-hu-515134-unsplash.jpg" class="figure-img img-fluid gallery__img" alt="standing tree on plain savanna">
					<figcaption class="figure-caption text-center">standing tree on plain savanna</figcaption>
				</figure>
			</div>
		</div>
	</div>
	