<header>
  <div class="container">
      <div id="logo">
          <h1 class="mt-md-0 mt-2"> <a routerLink="/home"><span class="fa fa-map-signs"></span> Laitayo<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tours</a></h1>
        </div>
    <!-- navigation bar here -->
    <nav class="py-md-4 py-3 d-lg-flex" role="navigation">
      <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu ml-auto mt-1">
				<li class=""><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="" ><a routerLink="#" routerLinkActive="active">Destinations</a>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-9">
                <ul id="dropsnav" class="dropdown" >
                  <h4>Destinations</h4>
                  <li class=""><a routerLink="/ngorongoro">Ngorongoro Conservation Area</a></li>
                  <li class=""><a routerLink="/serengeti" routerLinkActive="active">Serengeti National Park</a></li>
                  <li class=""><a routerLink="/manyara" routerLinkActive="active">Lake Manyara National Park</a></li>
                  <li class=""><a routerLink="/tara" routerLinkActive="active">Tarangire National Park </a></li>
                  <li class=""><a routerLink="/kili" routerLinkActive="active">Mount Kilimanjaro </a></li>
                  <li class=""><a routerLink="/zanzibar" routerLinkActive="active">Zanzibar</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
				<li class=""><a routerLink="#" routerLinkActive="active">Safaris</a></li>
				<li class=""><a routerLink="#" routerLinkActive="active">Climbing</a></li>
        <li class=""><a routerLink="#" routerLinkActive="active">Accomodation</a></li>
        <li class=""><a routerLink="#" routerLinkActive="active">Travel Guide</a></li>
        <li class=""><a routerLink="#" routerLinkActive="active">About Us</a></li>
        <li class=""><a routerLink="/contact" routerLinkActive="active">Contacts</a></li>
				<li class="booking"><a routerLink="#" routerLinkActive="active">Book Now</a></li>
			</ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>


<!--footer -->
<footer>
  <section class="footer footer_w3layouts_section_1its py-5">
    <div class="container py-lg-4 py-3">
      <div class="row footer-top">
        <div class="col-lg-4 col-sm-6 footer-grid_section_1its_w3">
          <div class="footer-title">
            <h3>Address</h3>
          </div>
          <div class="footer-text">
            <p>Location : Arusha, Tanzania</p>
            <p>Phone :</p>
            <p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
            <p>Fax :</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 footer-grid_section mt-sm-0 mt-4">
          <div class="footer-title">
            <h3>About Us</h3>
          </div>
          <div class="footer-text">
            <p>Vivamus magna justo, laci niats eget consectetur sed, conval lis at tellus. Nulla quis lorem ipnt libero.
            Lorem ipsum dolor.</p>
          </div>
          <ul class="social_section_1info">
            <li class="mb-2 facebook"><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li class="mb-2 twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li class="instagram"><a href="#"><span class="fa fa-instagram"></span></a></li>
            <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
          <div class="footer-title">
            <h3>Travel Places</h3>
          </div>
          <div class="row">
            <ul class="col-9 links">
              <li><a href="#choose" class="scroll">Serengeti National Park</a></li>
              <li><a href="#overview" class="scroll">Ngorongoro Conservation Area</a></li>
              <li><a href="#pricing" class="scroll">Lake Manyara National Park</a></li>
              <li><a href="#faq" class="scroll"> Tarangire National Park</a></li>
              <li><a href="#testimonials" class="scroll">Mount Kilimanjaro</a></li>
              <li><a href="#contact" class="scroll">Zanzibar</a></li>
            </ul>
            <!-- <ul class="col-6 links">
              <li><a href="#">Spain </a></li>
              <li><a href="#">Turkey </a></li>
              <li><a href="#faq" class="scroll">Europe </a></li>
              <li><a href="#">Italy </a></li>
              <li><a href="#">Sweden </a></li>
            </ul> -->
          </div>
        </div>
        <!-- <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3">
          <div class="footer-title">
            <h3>Newsletter</h3>
          </div>
          <div class="footer-text">
            <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
            <form action="#" method="post">
              <input type="email" name="Email" placeholder="Enter your email..." required="">
              <button class="btn1"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              <div class="clearfix"> </div>
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  </footer>
  <!-- //footer -->

  <!-- copyright -->
<div class="copyright py-3 text-center">
	<p>&copy; Laitayo Tour and Safari. All Rights Reserved | Design by <a href="#" target="=_blank"> afro signatures </a></p>
</div>
<!-- //copyright -->
 
