
<!-- banner -->
<section class="banner_inner_ngoro " id="home">
	<div class="banner_inner_overlay">
	</div>
</section>
<!-- //banner -->

<!-- Ngorongoro Conservation Area-->
<section class="about py-5">
	<div class="container py-lg-5 py-sm-4">
		<div class="row">
			<div class="col-lg-6 about-left">
				<h3 class="mt-lg-3">Ngorongoro Conservation Area</h3>
				<p class="mt-4 text-justify">This unforgettable tour will take you to the Serengeti Plains National Park, the heart of wild Africa and a massive wilderness of 14500 square km, where every day brings a new landscape and a new adventure.
					Your African safari will also take you to the Ngorongoro Crater, featuring one of the highest concentrations of game in Africa.
					 Here you will witness an amazing spectacle of African wildlife – inside a self-contained world featuring an unbelievable concentration of animals.
				 </p>
				<!-- <p class="mt-3"> Donec a arcu et sapien hendrerit accumsan. Pellentesque sit amet eros iac, elementum 
				urna ipsum accumsan, iaculis ligula. Aenean quam eget maximus in convallis felis dapibus sit amet.</p> -->
			</div>
			<div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
				<img src="../../assets/lait_img/ngoro.jpg" alt="" class="img-fluid abt-image" />
      </div>

      <!-- Olduvai Gorge Museum -->
      <div class="col-lg-6 about-left">
          <h3 class="mt-lg-3">Olduvai Gorge Museum</h3>
          <p class="mt-4 text-justify">Olduvai Gorge museum is a fascinating journey back in time to the very beginning of mankind.
             Realistic copies of the most important discoveries can be viewed with ease and after an interesting lecture on the work which has been carried out by scientists,
						 guided tours of the sites can be taken with experienced Laitayo guides.</p>
					<p class="mt-4">There are  outdoor lecture areas where the museum curators give orientation presentations to visitors.
						At the museum, one can also plan a guided tour down the gorge.</p>
		</div>
		<div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5" >
			<h3 class="mt-lg-3">Maasai Boma</h3>
			<p class="mt-4 text-justify">Visitors to the Ngorongoro Conservation Area can learn about the culture of the Maasai and take photographs or buy original Maasai handicraft at designated areas known as cultural bomas</p>
		</div>
	</div>
<!-- </section> -->

<!-- places -->
<section class="trav-grids py-5" id="desti">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="heading text-capitalize text-center mb-lg-5 mb-4">Tourism Places</h3>
		<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
			<div class="gallery">
				<figure class="figure gallery__item gallery__item--6">
					<img src="../../assets/lait_img/1539788356-crater.jpg" class="figure-img img-fluid gallery__img" alt="ngorongoro crater view">
					<figcaption class="figure-caption text-center">Ngorongoro Crater</figcaption>
				</figure>
			
				<figure class="figure gallery__item gallery__item--5">
					<img src="../../assets/lait_img/1540222037-boma.jpg" class="figure-img img-fluid gallery__img " alt="Maasai Boma">
					<figcaption class="figure-caption text-center">Maasai Boma</figcaption>
				</figure>
			
				<figure class="figure gallery__item gallery__item--3">
					<img src="../../assets/lait_img/1540223875-birdwatc.jpg" class="figure-img img-fluid gallery__img " alt="bunch of bird at Olmoti crater">
					<figcaption class="figure-caption text-center">Bird at Olmoti Crater</figcaption>
				</figure>
			
				<figure class="figure gallery__item gallery__item--4">
					<img src="../../assets/lait_img/ngoro.jpg" class="figure-img img-fluid gallery__img" alt="Hippoppotumus feeding at Ngorongoro Crater">
					<figcaption class="figure-caption text-center">Hippopotamus feeding at Ngorongoro Crater</figcaption>
				</figure>

				<figure class="figure gallery__item gallery__item--2">
					<img src="../../assets/lait_img/olduvaigorgemuseum.jpg" class="figure-img img-fluid gallery__img" alt="Olduvai Gorge Archeologica Site">
					<figcaption class="figure-caption text-center">Olduvai Gorge Museum</figcaption>
				</figure>

				<figure class="figure gallery__item gallery__item--1">
					<img src="../../assets/lait_img/1540313475-nasee.jpg" class="figure-img img-fluid gallery__img" alt="Nasera Rock">
					<figcaption class="figure-caption text-center">Nasera Rock</figcaption>
				</figure>
			</div>
		</div>
	</div>
<!-- </section> -->
<!-- //places -->
<!-- //about -->
