<!-- banner -->
<section class="banner_inner_nyara" id="home">
	<div class="banner_inner_overlay">
	</div>
</section>
<!-- //banner -->

<!-- Lake Manyara  National Park -->
<section class="about py-5">
	<div class="container py-lg-5 py-sm-4">
		<div class="row">
			<div class="col-lg-6 about-left">
				<h3 class="mt-lg-3">Lake Manyara National Park</h3>
				<p class="mt-4">Lake Manyara’s famous tree-climbing lions are another reason to pay a visit to this park. The only kind of their species in the world, they make the ancient mahogany and elegant acacias their home during the rainy season, and are a well-known but rather rare feature of the northern park. In addition to the lions, the national park is also home to the largest concentration of baboons anywhere in the world — a fact that accounts for interesting game viewing of large families of the primates.</p>
				<p class="mt-3"> The Lake Manyara National Park, one of Tanzania’s most dramatically located wildlife areas, consisting of a shallow but huge soda lake, at the foot of the Great Rift Valley’s western escarpment. 
					The size of this national park makes it perfect for a one-day game drive</p>
			</div>
			<div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
				<img src="../../assets/lait_img/birdview.png " alt="" class="img-fluid abt-image" />
			</div>
      <!-- Olduvai Gorge Museum -->
      <div class="col-lg-6 about-left">
          <h3 class="mt-lg-3">Bird Watching</h3>
          <p class="mt-4">The alkaline soda of Lake Manyara is home to an incredible array of bird life that thrives on its brackish waters. Pink flamingo stoop and graze by the thousands colourful specks against the grey minerals of the lake shore. Yellow-billed storks swoop and corkscrew on thermal winds rising up from the escarpment, and herons flap their wings against the sun-drenched sky. Even reluctant bird-watchers will find something to watch and marvel at within the national park.</p>
    </div>
    <div class="col-lg-6 about-right text-lg-right mt-lg-0 mt-5">
			<img src="../../assets/lait_img/group_elephant.jpg" alt="" class="img-fluid abt-image" />
		</div>
    <div class="col-lg-6 about-right mt-lg-0 mt-5"> 
      <h3 class="mt-lg-3">Best time to visit</h3>
				<p class="mt-3"> Dry season (July - October) for large mammals.</p>
				<p class="mt-3"> Wet season (November - June) for bird watching, waterfalls and canoeing.</p>
    </div>
	
	</div>
<!-- </section> -->