.book_form {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    top: 30%;
    left: 85%;
}
/* h4 {
    font-size: small;
} */
.book_form-adults {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    top: 30%;
    left: 85%;
}
/* .input_box_count-book {
    /* border: 1px solid rgba(119, 118, 118, 0.788); 
    padding: 10px 10px;
    margin: 10px 10px;
} */
.card {
    border: none;
    margin-bottom: 16px;
}
/* .card-header {
    height: 50px;
} */
.form_label {
    display: inline-block;
    margin-bottom: 0;
    width: 40%;
    line-height: 1;
}
.input_box_counter {
    position: relative;
    align-content: center;
    padding-right: 0;
    width: 60%;
}
input[type="number"].input_box_counter {
    border: none;
    background-color: transparent;
    padding: 0 15px;
    display: inline-block;
    text-align: right;
    max-width: 100px;
}
.fa-users, .fa-calendar , .btn-warning,
 .fa-user, .fa-envelope,
.fa-name, .fa-phone{
    color: rgba(119, 118, 118, 0.788);
}
