.book_form {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    top: 25%;
    left: 85%;
}

/* .col-sm-4.input_child_adult, .col-sm-8.input_child_adult{
    margin: 10px 10px;
    clear: both;
    float: left;
} */
.book_form-adults {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    top: 10%;
    left: 85%;
}
.peop {
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
}

.form_label {
    display: flex;
    font-size: 14px;
    width: 50%;
    text-align: right;
    clear: both;
    float: left;
}
.input_box_counter {
    width: 50%;
    position: absolute;
    text-align: center; 
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    margin: 10px;
    background-color: #047ffc;
    opacity: 1;
}
.fa-users, .fa-calendar , .btn-warning,
 .fa-user, .fa-envelope,
.fa-name, .fa-phone {
    color: rgba(119, 118, 118, 0.788);
}
